body{
    background-color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}
 #text{
    color:whitesmoke;
    margin-top: 20%;
}
#buttons{
    margin-top: 20%;
}

.button, .img {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
    z-index: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    height: 10px;
}

